@import 'variables.scss';
@import 'mixins.scss';

html, body{
  padding:  0;
  margin: 0;
  font-family: $font;
  color: $color_def;
  font-size: $text-size;
}
.layoutCenterWrapper{
  width: $width_def;
  min-height: 50px;
  margin: 0 auto;
}
.clearfix:after{
  content:  '';
  display:  table;
  clear:  both;
}
/* СЕТКА */
@include make-grid-columns;
@include make-grid(xs);

/*  ВЕРХНЕЕ МЕНЮ  */
.menu-top{
  width: 100%;
  padding: $margin_def;
  border-bottom: 2px solid $green;
  list-style: none;
  text-align: right;
  line-height: 0;
  font-size: 1px;

  &__item{
    list-style: none;
    display: inline-block;
    font-size: $text-size;
    margin: 0;
    margin-left:  20px;

    & a{
      color: $color_def;
      text-decoration: none;
    }

    &--active a{
      color: $green;
      font-weight:  bold;
    }
  }
}
/*  ФИЛЬТРЫ  */
.filter{
  float: left;
  width: 200px;

  &__form{
    margin: 0;
    width: 100%;
  }

  &__send{
    width: 120px;
    margin: 5px 0 5px;
  }

  &__item{
    position: relative;
    margin: 15px 0 10px;
    width:100%;
  }

  &__item-title{
    margin: 0;
    color: $green;

    & span{
      font-size: $text-bidder;
    }

    &--left{
      margin-right: 10px;
    }

    &--right{
      margin-left: 10px;
      float: right;
    }
  }

  &__text-field{
    width: 100%;
    box-sizing: border-box;
    color: $color_def;

    &--small{
      width: 110px;
    }

    &--double{
      width:65px;
      margin-left: 5px;
    }
  }

  &__checkbox{
    margin-right: 10px;
  }
}

.content{
  float: right;
  width: 750px;

  &--full{
    float: none;
    width: 100%;
  }
}

.main-title{
  float: $h-size;
  color: $color_def;
  font-weight: normal;
  text-decoration: underline;
}

/*  ТАБЛИЦА ПОЛЬЗОВАТЕЛЕЙ  */
.users-table{
  border-collapse:  collapse;
  margin-bottom: 15px;

  &__head{
   & th{
     padding: 10px;
   }
  }

  &__row{
    & td{
      padding:  10px;
    }

    &:nth-child(even){
      background: $bg-row;
    }
  }
}

/*  МОДАЛЬНОЕ ОКНО  */
.modal{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 3px $color_def solid;
  background: $white;
  color: $color_def;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;

  &__form{
    padding-top: 15px;
  }

  &__text span{
    font-weight: bold;
  }

  &__text-field{
    width: 250px;
    margin-bottom: 10px;
  }

  &__msg{
    display: none;

    &--error{
      color: #FF0000;
    }

    &--sucsess{
      color: $green;
    }
  }

  &__close{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
  }
}
/* Подложка */
.overlay {
  z-index: 3;
  position: fixed;
  background-color: $color_def;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}