$color_def:     #000;
$white:         #fff;
$green:         #35c880;
$bg-row:        #cff5e2;

$dir:           "../img";
$grid-columns:  12 !default;
$grid-gutter-width: 10px !default;

$text-size:     14px;
$width_def:     1000px;
$margin_def:    10px 0 10px;

$font:          Tahoma, Arial, sans-serif;